Allow from all

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Important: RewriteBase
    # If you installed the web app on a subsite, you have to set this to the URL (not the file path!) of the subsite.
    # Note: No trailing slash! (e.g. /BoNeMEAL or /mc-server/ban-management)
    RewriteBase /git/BoNeMEAL

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
