Allow from all

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Important: RewriteBase
    # If you installed the web app in a sub-directory you have to set this accordingly.
    # Note: No trailing slash! (f.e. /BoNeMEAL or /mc-server/ban-management)
    RewriteBase /BoNeMEAL

    # Redirect Trailing Slashes...
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
