/* SITE CUSTOM STYLES */

.pattern-bg {
	background-image: url('../images/pattern_lodyas.png');
	background-repeat: repeat;
	padding-top: 50px;
	padding-bottom: 80px;
	margin-bottom: 20px;
}

.pattern-bg .container {
	color: #fff;

	h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}

.space {
	margin-top: 60px;
	margin-bottom: 60px;

	padding-top: 30px;
	padding-bottom: 30px;
}